<article>
    <div class="column_30 left blue">
        <h2>Chiffres clés</h2>
        <a target="_blank">
            <div class="icone mail">
                <span />
            </div>
        </a>
    </div>

    <div class="column_70 left">
        <div class="txt">
            <h2>Vision</h2>
            <span>
                Vous êtes une institution et votre site internet repose sur des bases de données évolutives. Il exige un maximum de garanties en matière de sécurité. Affinitic vous offre sa capacité d’adaptation à vos besoins les plus pointus ainsi qu’une réactivité rassurante.
            </span>

            <h2>COMPÉTENCES WEB ET LOGICIELLES</h2>
            <span>
                Au sein de l’agence AFFINITIC, pour un projet web ou logiciel, nous sommes en mesure d’intervenir sur différentes technologies reconnues et approuvées dans tous les secteurs d’activité:
                Nuage de logo de technologies reconnues
            </span>
        </div>
    </div>
</article>
<article>
    <div class="column_70 left">
        <div class="txt">
            <h2>Vision</h2>
            <span>
                Vous êtes une institution et votre site internet repose sur des bases de données évolutives. Il exige un maximum de garanties en matière de sécurité. Affinitic vous offre sa capacité d’adaptation à vos besoins les plus pointus ainsi qu’une réactivité rassurante.
            </span>

            <h2>COMPÉTENCES WEB ET LOGICIELLES</h2>
            <span>
                Au sein de l’agence AFFINITIC, pour un projet web ou logiciel, nous sommes en mesure d’intervenir sur différentes technologies reconnues et approuvées dans tous les secteurs d’activité:
                Nuage de logo de technologies reconnues
            </span>
        </div>
    </div>
    <div class="column_30 left blue">
        <h2>Chiffres clés</h2>
        <a target="_blank">
            <div class="icone mail">
                <span />
            </div>
        </a>
    </div>

</article>
<div id=clear></div>
