<article id="map">
    <div class="column_50 left">
        <h2>Contact</h2>
        <div>
            <div class="icone adress">Rue de la Maîtrise, 5D<br />B-1400 Nivelles<br />Belgique</div>
        </div>
        <div>
            <div class="icone phone">GSM (administratif) : <br />+ 32 (0) 483 46 08 40 <br /><br />GSM (gestion de projet / technique) : <br />+ 32 (0) 476 73 36 64</div>
        </div>
        <div>
            <div class="icone mail">info@affinitic.be</div>
        </div>
        <div>
            <div class="icone">N° d'entreprise : 0882 564 990</div>
        </div>
        <h2>Follow</h2>
        <div>
            <div class="icone twitter"> </div>
        </div>
        <div>
            <div class="icone github"> </div>
        </div>
    </div>
    <div class="column_50 left"><iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40640.68480141507!2d4.671484978607902!3d50.45892767947667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c18502b7852605%3A0xa4940bc433914c22!2sRue+de+la+Vieille+Sambre+34%2C+5190+Jemeppe-sur-Sambre%2C+Belgique!5e0!3m2!1sfr!2sfr!4v1493709379957" width="300" height="150" allowfullscreen="allowfullscreen">
        </iframe></div>
</article>
<iframe class="background_map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40640.68480141507!2d4.671484978607902!3d50.45892767947667!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c18502b7852605%3A0xa4940bc433914c22!2sRue+de+la+Vieille+Sambre+34%2C+5190+Jemeppe-sur-Sambre%2C+Belgique!5e0!3m2!1sfr!2sfr!4v1493709379957" width="300" height="150" allowfullscreen="allowfullscreen">
</iframe>
