<article id="map">
    <div class="column_50 left">
        <h2>Contact</h2>
        <div>
            <div class="icone adress">Rue de la Maîtrise, 5D<br />B-1400 Nivelles<br />Belgique</div>
        </div>
        <div>
            <div class="icone phone">
                Téléphone : <br /><a href="tel:+3267636103">+32 (0) 67 63 61 03</a>
                <br />GSM (administratif) : <br /><a href="tel:+32483460840">+ 32 (0) 483 46 08 40</a>
                <br /><br />GSM (gestion de projet / technique) : <br /><a href="tel:+32476733664">+ 32 (0) 476 73 36 64</a>
            </div>
        </div>
        <div>
            <div class="icone mail"><a href="mailto:info@affinitic.be">info@affinitic.be</a></div>
        </div>
        <div>
            <div class="icone">N° d'entreprise : 0882 564 990</div>
        </div>
        <h2>Follow</h2>
        <div>
            <div class="icone twitter"> </div>
        </div>
        <div>
            <div class="icone github"> </div>
        </div>
    </div>
    <div class="column_50 left">
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2533.441780901018!2d4.355067515736146!3d50.5817415794937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c1851c082c793b%3A0x47ec0b05108bb679!2sAffinitic!5e0!3m2!1sfr!2sbe!4v1517411285417" width="300" height="150" frameborder="0" style="border:0" allowfullscreen>
        </iframe>
    </div>
</article>
